* {
    margin: 0;
    padding: 0;
    list-style-type: none;
  
  }
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .navbar {
    display: block;
    margin: 15px;
    top: 0;
    background-color: hsl(216, 77%, 56%);
    padding: 10px 10px;
    z-index: 1000;
    width: 100%;
    overflow: auto;
  }
  
  .navbar-container {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 10px; 
  }
  
  .navbar-list {
    display: flex;
    padding: 10px;
    justify-content: space-around;
  }
  
  .navbar-list a {
    color: seashell;
    text-decoration: none;
    font-size: 16px;
    
  }
  
  .navbar-list a:hover {
    color: #090f53;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: hwb(259 3% 49%);
    color: seashell;
    border: none;
    font-size: 16px;
  }
  
  .dropdown-btn:hover {
    background-color: #3029e8;
  }
  
  .dropdown-menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background-color: rgb(49, 89, 182);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(41, 1, 114, 0.2);
    z-index: 500;
    overflow: auto;
  }
  
  .dropdown-menu a {
    color: seashell;
    text-decoration: none;
    padding: 8px 8px;
    text-align: left;
    margin-left: 2;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: seashell;
    color: rgb(20, 11, 86);
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}